* {
    font-size: 20px;
    box-sizing: border-box;
}

header {
    padding: 20px 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky; /*Adds Sticky Support For Safari */
    top: 0;
}

header h1 {
    background-color: aqua;
    padding: 10px 40px;
    border-radius: 0 20px 20px 0;
}

header h1 a {
    font-size: 50px;
    color: black;
}

header nav {
    align-items: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

header nav ul li a {
    padding: 20px;
    font-size: 30px;
    color: white;
}

/* Apply Different Styles When The User Hovers Over */
header nav ul li a:hover {
    background-color: aqua;
    color: black;
    border-radius: 15px;
    text-shadow: none;
  }

body {
    background-color: lightgray;
}

.hero img{
    max-width: 100%;
}

.intro, .projects, .contact {
    display: flex;
    flex-wrap: wrap;
}

.intro ul, .projects ul, .contact ul {
    width: 80%
}

.column25 {
    float: left;
    width: 25%;
}

.column50 {
    float: left;
    width: 50%;

}

.contact {
    display: flex;
}

.section-title {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: 20%;
    font-size: 50px;
    border-right: 2px solid;
    border-color: black;
    padding-right: 10px;
}

.section-para {
    font-size: 25px;
    width: 80%;
}

.primaryproject {
    position: relative;
}

.secondaryproject {
    position: relative;
}

.projects ul {
    width: 75%;
}

.primaryproject img {
    border: 1px solid;
    height: 50%;
    width: 100%;
}

.secondaryproject img {
    border: 1px solid;
    height: auto;
    width: 98%;
}

.project-name {
    position: absolute;
    bottom: 30px;
    border: 1px solid;
    border-color: black;
    background-color: aqua;
    color: black;
    margin: 0 0 0 -5px;
    padding: 0 10px;
}

.project-name h4 {
    font-size: 20px;
    margin: 10px;
}

.project-name p {
    font-size: 15px;
    margin: 10px;
}


@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    .section-title {
        border-right: 0px solid;
        justify-content: center;
        width: 80%;
    }

    .column25 {
        display: flex;
        flex-wrap: wrap;
        width: 40%;
    }

    .intro, .projects, .contact {
        justify-content: center;
    }

    .intro ul, .projects ul, .contact ul {
        padding: 0px;
    }

    .primaryproject img {
        border: 1px solid;
        height: 50%;
        width: 100%;
    }
    
    .secondaryproject img {
        border: 1px solid;
        height: 50%;
        width: 100%;
    }

    .project-name {
        position: absolute;
        bottom: 30px;
        border: 1px solid;
        border-color: black;
        background-color: aqua;
        color: black;
        padding: 0;
        font-size: 10px;
    }   

    .project-name p {
        font-size: 0px;
    }

    .section-para {
        width: 80%;
    }
  }